.news h2 {
    color: #00c4ff;
}

.recommend {
    color: black;
    list-style: none;
    text-decoration: none;
}

.recommend:hover {
    color: #00c4ff;
}

.index-left {
    margin-right: 220px;
}

.index-mid h2 {
    color: #00c4ff;
}

.index-mid {

}

.index-position {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.news-first:hover {
    color: #00c4ff;
}

.news-first {
    background-color: #44d01d;
    height: 300px;
    border-radius: 20px;
}

.today-recommend {
    background-color: #ee74b2;
    height: 300px;
    border-radius: 20px;
}

.index-right {
    margin-left: 260px;
}

.index-left-item {
    background-color: yellow;
    height: 300px;
    border-radius: 20px;

}

.index-left-item a:hover {
    color: #00c4ff;
}
/*body{*/
/*    background-image: url("http://localhost:8080/bolg/imags/backgroud.png") ;*/
/*    --google-red-100-rgb: 244, 199, 195;*/
/*    --google-red-100: rgb(var(--google-red-100-rgb));*/
/*    --google-red-300-rgb: 230, 124, 115;*/
/*    --google-red-300: rgb(var(--google-red-300-rgb));*/
/*    --google-red-500-rgb: 219, 68, 55;*/
/*    --google-red-500: rgb(var(--google-red-500-rgb));*/
/*    --google-red-700-rgb: 197, 57, 41;*/
/*    --google-red-700: rgb(var(--google-red-700-rgb));*/
/*    --google-blue-100-rgb: 198, 218, 252;*/
/*    --google-blue-100: rgb(var(--google-blue-100-rgb));*/
/*    --google-blue-300-rgb: 123, 170, 247;*/
/*    --google-blue-300: rgb(var(--google-blue-300-rgb));*/
/*    --google-blue-500-rgb: 66, 133, 244;*/
/*    --google-blue-500: rgb(var(--google-blue-500-rgb));*/
/*    --google-blue-700-rgb: 51, 103, 214;*/
/*    --google-blue-700: rgb(var(--google-blue-700-rgb));*/
/*    --google-green-100-rgb: 183, 225, 205;*/
/*    --google-green-100: rgb(var(--google-green-100-rgb));*/
/*    --google-green-300-rgb: 87, 187, 138;*/
/*    --google-green-300: rgb(var(--google-green-300-rgb));*/
/*    --google-green-500-rgb: 15, 157, 88;*/
/*    --google-green-500: rgb(var(--google-green-500-rgb));*/
/*    --google-green-700-rgb: 11, 128, 67;*/
/*    --google-green-700: rgb(var(--google-green-700-rgb));*/
/*    --google-yellow-100-rgb: 252, 232, 178;*/
/*    --google-yellow-100: rgb(var(--google-yellow-100-rgb));*/
/*    --google-yellow-300-rgb: 247, 203, 77;*/
/*    --google-yellow-300: rgb(var(--google-yellow-300-rgb));*/
/*    --google-yellow-500-rgb: 244, 180, 0;*/
/*    --google-yellow-500: rgb(var(--google-yellow-500-rgb));*/
/*    --google-yellow-700-rgb: 240, 147, 0;*/
/*    --google-yellow-700: rgb(var(--google-yellow-700-rgb));*/
/*    --google-grey-100-rgb: 245, 245, 245;*/
/*    --google-grey-100: rgb(var(--google-grey-100-rgb));*/
/*    --google-grey-300-rgb: 224, 224, 224;*/
/*    --google-grey-300: rgb(var(--google-grey-300-rgb));*/
/*    --google-grey-500-rgb: 158, 158, 158;*/
/*    --google-grey-500: rgb(var(--google-grey-500-rgb));*/
/*    --google-grey-700-rgb: 97, 97, 97;*/
/*    --google-grey-700: rgb(var(--google-grey-700-rgb));*/
/*    --paper-red-50: #ffebee;*/
/*    --paper-red-100: #ffcdd2;*/
/*    --paper-red-200: #ef9a9a;*/
/*    --paper-red-300: #e57373;*/
/*    --paper-red-400: #ef5350;*/
/*    --paper-red-500: #f44336;*/
/*    --paper-red-600: #e53935;*/
/*    --paper-red-700: #d32f2f;*/
/*    --paper-red-800: #c62828;*/
/*    --paper-red-900: #b71c1c;*/
/*    --paper-red-a100: #ff8a80;*/
/*    --paper-red-a200: #ff5252;*/
/*    --paper-red-a400: #ff1744;*/
/*    --paper-red-a700: #d50000;*/
/*    --paper-light-blue-50: #e1f5fe;*/
/*    --paper-light-blue-100: #b3e5fc;*/
/*    --paper-light-blue-200: #81d4fa;*/
/*    --paper-light-blue-300: #4fc3f7;*/
/*    --paper-light-blue-400: #29b6f6;*/
/*    --paper-light-blue-500: #03a9f4;*/
/*    --paper-light-blue-600: #039be5;*/
/*    --paper-light-blue-700: #0288d1;*/
/*    --paper-light-blue-800: #0277bd;*/
/*    --paper-light-blue-900: #01579b;*/
/*    --paper-light-blue-a100: #80d8ff;*/
/*    --paper-light-blue-a200: #40c4ff;*/
/*    --paper-light-blue-a400: #00b0ff;*/
/*    --paper-light-blue-a700: #0091ea;*/
/*    --paper-yellow-50: #fffde7;*/
/*    --paper-yellow-100: #fff9c4;*/
/*    --paper-yellow-200: #fff59d;*/
/*    --paper-yellow-300: #fff176;*/
/*    --paper-yellow-400: #ffee58;*/
/*    --paper-yellow-500: #ffeb3b;*/
/*    --paper-yellow-600: #fdd835;*/
/*    --paper-yellow-700: #fbc02d;*/
/*    --paper-yellow-800: #f9a825;*/
/*    --paper-yellow-900: #f57f17;*/
/*    --paper-yellow-a100: #ffff8d;*/
/*    --paper-yellow-a200: #ffff00;*/
/*    --paper-yellow-a400: #ffea00;*/
/*    --paper-yellow-a700: #ffd600;*/
/*    --paper-orange-50: #fff3e0;*/
/*    --paper-orange-100: #ffe0b2;*/
/*    --paper-orange-200: #ffcc80;*/
/*    --paper-orange-300: #ffb74d;*/
/*    --paper-orange-400: #ffa726;*/
/*    --paper-orange-500: #ff9800;*/
/*    --paper-orange-600: #fb8c00;*/
/*    --paper-orange-700: #f57c00;*/
/*    --paper-orange-800: #ef6c00;*/
/*    --paper-orange-900: #e65100;*/
/*    --paper-orange-a100: #ffd180;*/
/*    --paper-orange-a200: #ffab40;*/
/*    --paper-orange-a400: #ff9100;*/
/*    --paper-orange-a700: #ff6500;*/
/*    --paper-grey-50: #fafafa;*/
/*    --paper-grey-100: #f5f5f5;*/
/*    --paper-grey-200: #eeeeee;*/
/*    --paper-grey-300: #e0e0e0;*/
/*    --paper-grey-400: #bdbdbd;*/
/*    --paper-grey-500: #9e9e9e;*/
/*    --paper-grey-600: #757575;*/
/*    --paper-grey-700: #616161;*/
/*    --paper-grey-800: #424242;*/
/*    --paper-grey-900: #212121;*/
/*    --paper-blue-grey-50: #eceff1;*/
/*    --paper-blue-grey-100: #cfd8dc;*/
/*    --paper-blue-grey-200: #b0bec5;*/
/*    --paper-blue-grey-300: #90a4ae;*/
/*    --paper-blue-grey-400: #78909c;*/
/*    --paper-blue-grey-500: #607d8b;*/
/*    --paper-blue-grey-600: #546e7a;*/
/*    --paper-blue-grey-700: #455a64;*/
/*    --paper-blue-grey-800: #37474f;*/
/*    --paper-blue-grey-900: #263238;*/
/*    --dark-divider-opacity: 0.12;*/
/*    --dark-disabled-opacity: 0.38;*/
/*    --dark-secondary-opacity: 0.54;*/
/*    --dark-primary-opacity: 0.87;*/
/*    --light-divider-opacity: 0.12;*/
/*    --light-disabled-opacity: 0.3;*/
/*    --light-secondary-opacity: 0.7;*/
/*    --light-primary-opacity: 1.0;*/
/*    --google-blue-50-rgb: 232, 240, 254;*/
/*    --google-blue-50: rgb(var(--google-blue-50-rgb));*/
/*    --google-blue-200-rgb: 174, 203, 250;*/
/*    --google-blue-200: rgb(var(--google-blue-200-rgb));*/
/*    --google-blue-600-rgb: 26, 115, 232;*/
/*    --google-blue-600: rgb(var(--google-blue-600-rgb));*/
/*    --google-grey-50-rgb: 248, 249, 250;*/
/*    --google-grey-50: rgb(var(--google-grey-50-rgb));*/
/*    --google-grey-200-rgb: 232, 234, 237;*/
/*    --google-grey-200: rgb(var(--google-grey-200-rgb));*/
/*    --google-grey-400-rgb: 189, 193, 198;*/
/*    --google-grey-400: rgb(var(--google-grey-400-rgb));*/
/*    --google-grey-600-rgb: 128, 134, 139;*/
/*    --google-grey-600: rgb(var(--google-grey-600-rgb));*/
/*    --google-grey-800-rgb: 60, 64, 67;*/
/*    --google-grey-800: rgb(var(--google-grey-800-rgb));*/
/*    --google-grey-900-rgb: 32, 33, 36;*/
/*    --google-grey-900: rgb(var(--google-grey-900-rgb));*/
/*    --google-grey-900-white-4-percent: #292a2d;*/
/*    --google-red-600-rgb: 217, 48, 37;*/
/*    --google-red-600: rgb(var(--google-red-600-rgb));*/
/*    --google-yellow-50-rgb: 254, 247, 224;*/
/*    --google-yellow-50: rgb(var(--google-yellow-50-rgb));*/
/*    --google-blue-refresh-100-rgb: 210, 227, 252;*/
/*    --google-blue-refresh-100: rgb(var(--google-blue-refresh-100-rgb));*/
/*    --google-blue-refresh-300-rgb: 138, 180, 248;*/
/*    --google-blue-refresh-300: rgb(var(--google-blue-refresh-300-rgb));*/
/*    --google-blue-refresh-500-rgb: 66, 133, 244;*/
/*    --google-blue-refresh-500: rgb(var(--google-blue-refresh-500-rgb));*/
/*    --google-blue-refresh-700-rgb: 25, 103, 210;*/
/*    --google-blue-refresh-700: rgb(var(--google-blue-refresh-700-rgb));*/
/*    --google-green-refresh-300-rgb: 129, 201, 149;*/
/*    --google-green-refresh-300: rgb(var(--google-green-refresh-300-rgb));*/
/*    --google-green-refresh-700-rgb: 24, 128, 56;*/
/*    --google-green-refresh-700: rgb(var(--google-green-refresh-700-rgb));*/
/*    --google-grey-refresh-100-rgb: 241, 243, 244;*/
/*    --google-grey-refresh-100: rgb(var(--google-grey-refresh-100-rgb));*/
/*    --google-grey-refresh-300-rgb: 218, 220, 224;*/
/*    --google-grey-refresh-300: rgb(var(--google-grey-refresh-300-rgb));*/
/*    --google-grey-refresh-500-rgb: 154, 160, 166;*/
/*    --google-grey-refresh-500: rgb(var(--google-grey-refresh-500-rgb));*/
/*    --google-grey-refresh-700-rgb: 95, 99, 104;*/
/*    --google-grey-refresh-700: rgb(var(--google-grey-refresh-700-rgb));*/
/*    --google-red-refresh-300-rgb: 242, 139, 130;*/
/*    --google-red-refresh-300: rgb(var(--google-red-refresh-300-rgb));*/
/*    --google-red-refresh-500-rgb: 234, 67, 53;*/
/*    --google-red-refresh-500: rgb(var(--google-red-refresh-500-rgb));*/
/*    --google-yellow-refresh-300-rgb: 253, 214, 51;*/
/*    --google-yellow-refresh-300: rgb(var(--google-yellow-refresh-300-rgb));*/
/*    --cr-primary-text-color: var(--google-grey-900);*/
/*    --cr-secondary-text-color: var(--google-grey-refresh-700);*/
/*    --cr-card-background-color: white;*/
/*    --cr-card-shadow-color-rgb: var(--google-grey-800-rgb);*/
/*    --cr-elevation-1: rgba(var(--cr-card-shadow-color-rgb), .3) 0 1px 2px 0,*/
/*    rgba(var(--cr-card-shadow-color-rgb), .15) 0 1px 3px 1px;*/
/*    --cr-elevation-2: rgba(var(--cr-card-shadow-color-rgb), .3) 0 1px 2px 0,*/
/*    rgba(var(--cr-card-shadow-color-rgb), .15) 0 2px 6px 2px;*/
/*    --cr-elevation-3: rgba(var(--cr-card-shadow-color-rgb), .3) 0 1px 3px 0,*/
/*    rgba(var(--cr-card-shadow-color-rgb), .15) 0 4px 8px 3px;*/
/*    --cr-elevation-4: rgba(var(--cr-card-shadow-color-rgb), .3) 0 2px 3px 0,*/
/*    rgba(var(--cr-card-shadow-color-rgb), .15) 0 6px 10px 4px;*/
/*    --cr-elevation-5: rgba(var(--cr-card-shadow-color-rgb), .3) 0 4px 4px 0,*/
/*    rgba(var(--cr-card-shadow-color-rgb), .15) 0 8px 12px 6px;*/
/*    --cr-card-shadow: var(--cr-elevation-1);*/
/*    --cr-checked-color: var(--google-blue-600);*/
/*    --cr-focused-item-color: var(--google-grey-300);*/
/*    --cr-form-field-label-color: var(--google-grey-refresh-700);*/
/*    --cr-hairline-rgb: 0, 0, 0;*/
/*    --cr-link-color: var(--google-blue-700);*/
/*    --cr-menu-background-color: white;*/
/*    --cr-menu-background-focus-color: var(--google-grey-400);*/
/*    --cr-menu-shadow: 0 2px 6px var(--paper-grey-500);*/
/*    --cr-separator-color: rgba(0, 0, 0, .06);*/
/*    --cr-title-text-color: rgb(90, 90, 90);*/
/*    --cr-toggle-color: var(--google-blue-500);*/
/*    --cr-toolbar-background-color: var(--google-blue-700);*/
/*    --cr-hover-background-color: rgba(var(--google-grey-900-rgb), .1);*/
/*    --cr-active-background-color: rgba(var(--google-grey-900-rgb), .16);*/
/*    --cr-focus-outline-color: rgba(var(--google-blue-600-rgb), .4);*/
/*    --cr-button-edge-spacing: 12px;*/
/*    --cr-button-height: 32px;*/
/*    --cr-controlled-by-spacing: 24px;*/
/*    --cr-default-input-max-width: 264px;*/
/*    --cr-icon-ripple-size: 36px;*/
/*    --cr-icon-ripple-padding: 8px;*/
/*    --cr-icon-size: 20px;*/
/*    --cr-icon-button-margin-start: 16px;*/
/*    --cr-icon-ripple-margin: calc(var(--cr-icon-ripple-padding) * -1);*/
/*    --cr-section-min-height: 48px;*/
/*    --cr-section-two-line-min-height: 64px;*/
/*    --cr-section-padding: 20px;*/
/*    --cr-section-vertical-padding: 12px;*/
/*    --cr-section-indent-width: 40px;*/
/*    --cr-section-indent-padding: calc(*/
/*            var(--cr-section-padding) + var(--cr-section-indent-width));*/
/*    --cr-section-vertical-margin: 21px;*/
/*    --cr-centered-card-max-width: 680px;*/
/*    --cr-centered-card-width-percentage: 0.96;*/
/*    --cr-hairline: 1px solid rgba(var(--cr-hairline-rgb), .14);*/
/*    --cr-separator-height: 1px;*/
/*    --cr-separator-line: var(--cr-separator-height) solid*/
/*    var(--cr-separator-color);*/
/*    --cr-toolbar-overlay-animation-duration: 150ms;*/
/*    --cr-toolbar-height: 56px;*/
/*    --cr-container-shadow-height: 6px;*/
/*    --cr-container-shadow-margin: calc(-1 * var(--cr-container-shadow-height));*/
/*    --cr-container-shadow-max-opacity: 1;*/
/*    --cr-card-border-radius: 4px;*/
/*    --cr-disabled-opacity: .38;*/
/*    --cr-form-field-bottom-spacing: 16px;*/
/*    --cr-form-field-label-font-size: .625rem;*/
/*    --cr-form-field-label-height: 1em;*/
/*    --cr-form-field-label-line-height: 1em;*/
/*    --layout_-_display: flex;*/
/*    --layout-inline_-_display: inline-flex;*/
/*    --layout-horizontal_-_display: var(--layout_-_display);*/
/*    --layout-horizontal_-_flex-direction: row;*/
/*    --layout-horizontal-reverse_-_display: var(--layout_-_display);*/
/*    --layout-horizontal-reverse_-_flex-direction: row-reverse;*/
/*    --layout-vertical_-_display: var(--layout_-_display);*/
/*    --layout-vertical_-_flex-direction: column;*/
/*    --layout-vertical-reverse_-_display: var(--layout_-_display);*/
/*    --layout-vertical-reverse_-_flex-direction: column-reverse;*/
/*    --layout-wrap_-_flex-wrap: wrap;*/
/*    --layout-wrap-reverse_-_flex-wrap: wrap-reverse;*/
/*    --layout-flex-auto_-_flex: 1 1 auto;*/
/*    --layout-flex-none_-_flex: none;*/
/*    --layout-flex_-_flex: 1;*/
/*    --layout-flex_-_flex-basis: 0.000000001px;*/
/*    --layout-flex-2_-_flex: 2;*/
/*    --layout-flex-3_-_flex: 3;*/
/*    --layout-flex-4_-_flex: 4;*/
/*    --layout-flex-5_-_flex: 5;*/
/*    --layout-flex-6_-_flex: 6;*/
/*    --layout-flex-7_-_flex: 7;*/
/*    --layout-flex-8_-_flex: 8;*/
/*    --layout-flex-9_-_flex: 9;*/
/*    --layout-flex-10_-_flex: 10;*/
/*    --layout-flex-11_-_flex: 11;*/
/*    --layout-flex-12_-_flex: 12;*/
/*    --layout-start_-_align-items: flex-start;*/
/*    --layout-center_-_align-items: center;*/
/*    --layout-end_-_align-items: flex-end;*/
/*    --layout-baseline_-_align-items: baseline;*/
/*    --layout-start-justified_-_justify-content: flex-start;*/
/*    --layout-center-justified_-_justify-content: center;*/
/*    --layout-end-justified_-_justify-content: flex-end;*/
/*    --layout-around-justified_-_justify-content: space-around;*/
/*    --layout-justified_-_justify-content: space-between;*/
/*    --layout-center-center_-_align-items: var(--layout-center_-_align-items);*/
/*    --layout-center-center_-_justify-content: var(--layout-center-justified_-_justify-content);*/
/*    --layout-self-start_-_align-self: flex-start;*/
/*    --layout-self-center_-_align-self: center;*/
/*    --layout-self-end_-_align-self: flex-end;*/
/*    --layout-self-stretch_-_align-self: stretch;*/
/*    --layout-self-baseline_-_align-self: baseline;*/
/*    --layout-start-aligned_-_align-content: flex-start;*/
/*    --layout-end-aligned_-_align-content: flex-end;*/
/*    --layout-center-aligned_-_align-content: center;*/
/*    --layout-between-aligned_-_align-content: space-between;*/
/*    --layout-around-aligned_-_align-content: space-around;*/
/*    --layout-block_-_display: block;*/
/*    --layout-invisible_-_visibility: hidden !important;*/
/*    --layout-relative_-_position: relative;*/
/*    --layout-fit_-_position: absolute;*/
/*    --layout-fit_-_top: 0;*/
/*    --layout-fit_-_right: 0;*/
/*    --layout-fit_-_bottom: 0;*/
/*    --layout-fit_-_left: 0;*/
/*    --layout-scroll_-_-webkit-overflow-scrolling: touch;*/
/*    --layout-scroll_-_overflow: auto;*/
/*    --layout-fullbleed_-_margin: 0;*/
/*    --layout-fullbleed_-_height: 100vh;*/
/*    --layout-fixed-top_-_position: fixed;*/
/*    --layout-fixed-top_-_top: 0;*/
/*    --layout-fixed-top_-_left: 0;*/
/*    --layout-fixed-top_-_right: 0;*/
/*    --layout-fixed-right_-_position: fixed;*/
/*    --layout-fixed-right_-_top: 0;*/
/*    --layout-fixed-right_-_right: 0;*/
/*    --layout-fixed-right_-_bottom: 0;*/
/*    --layout-fixed-bottom_-_position: fixed;*/
/*    --layout-fixed-bottom_-_right: 0;*/
/*    --layout-fixed-bottom_-_bottom: 0;*/
/*    --layout-fixed-bottom_-_left: 0;*/
/*    --layout-fixed-left_-_position: fixed;*/
/*    --layout-fixed-left_-_top: 0;*/
/*    --layout-fixed-left_-_bottom: 0;*/
/*    --layout-fixed-left_-_left: 0;*/
/*    --ntp-active-background-color: rgba(var(--google-grey-900-rgb), .16);*/
/*    --ntp-background-override-color-rgb: 255, 255, 255;*/
/*    --ntp-background-override-color: rgba(var(--ntp-background-override-color-rgb));*/
/*    --ntp-border-color: var(--google-grey-refresh-300);*/
/*    --ntp-focus-shadow-color: rgba(var(--google-blue-600-rgb), .4);*/
/*    --ntp-hover-background-color: rgba(var(--google-grey-900-rgb), .1);*/
/*    --ntp-selected-background-color: rgba(var(--google-blue-refresh-700-rgb), .16);*/
/*    --ntp-selected-border-color: var(--google-blue-600);*/
/*    --ntp-selected-light-background-color: rgba(var(--google-blue-600-rgb), .24);*/
/*    --ntp-selected-primary-text-color: var(--google-blue-refresh-700);*/
/*    --ntp-module-text-color: #616161;*/
/*    --ntp-chip-background-color: var(--google-blue-600);*/
/*    --ntp-chip-text-color: white;*/
/*    --ntp-icon-button-color-active: var(--google-grey-refresh-700);*/
/*    --ntp-icon-button-color: var(--google-grey-600);*/
/*    --ntp-module-scroll-button-color: var(--google-grey-refresh-100);*/
/*    --ntp-module-scroll-button-hover-color: var(--google-grey-refresh-300);*/
/*    --ntp-focus-shadow: 0 0 0 2px var(--ntp-focus-shadow-color);*/
/*    --ntp-module-text-size: 13px;*/
/*    background: #7450D6;*/
/*    margin: 0;*/
/*    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;*/
/*    font-size: 81.25%;*/
/*    background-color: rgb(116, 80, 214);*/
/*}*/