.news h2 {
    color: #00c4ff;
}

.recommend {
    color: black;
    list-style: none;
    text-decoration: none;
}

.recommend:hover {
    color: #00c4ff;
}


.index-mid h2 {
    color: #00c4ff;
}

.index-mid {
    position: relative;
    top: -470px;
    right: 70px;
}

.index-position {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.news-first:hover {
    color: #00c4ff;
}

.toutiao {
    position: relative;
    top: 30px;
    left: 30px;
}

.toutiao-title {

}

.news-first {
    /*background-color: #44d01d;*/
    /*height: 100px;*/
    /*border-radius: 20px;*/
    /*-webkit-text-size-adjust: 100%;*/
    -webkit-tap-highlight-color: transparent;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 1.5;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    word-break: break-all;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Verdana, Roboto, Noto, Helvetica Neue, sans-serif;
    outline: none;
    text-decoration: none;
    font-size: 17px;
    width: 310px;
    font-weight: 700;
    color: #222226;
}

.today-recommend {
    background-color: #ffffff;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    border: #ece8e8 solid 0.5px;
}

.today-recommend a {
    position: relative;
    left: 10px;
}

.index-right {
    position: relative;
    top: -820px;
    left: 640px;
    /*margin-left: 260px;*/
}

.index-left-item {
    /*background-color: #ffff00;*/
    height: 300px;
    border-radius: 20px;
    border: #ece8e8 solid 0.5px;
}

.index-left-item a {
    position: relative;
    margin-left: 10px;
    margin-right: 5px;
}

.index-left-item a:hover {
    color: #00c4ff;
}

.swiper-contione {
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    top: -330px;
    left: 30px;
}

.swiper {
    width: 9999999px;
    height: 400px;
    transition: all 1s ease;
}

.swiper-item {
    width: 600px;
    height: 400px;
    float: left;
    position: relative;
}

.swiper-item img {
    width: 600px;
    height: 400px;
}

.swiper-item p {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.swiper-point {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.9);
    margin-right: 5px;
    float: left;
}

.point.active {
    background: #fff;
}

.swiper-left {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.swiper-right {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.swiper-left img,
.swiper-right img {
    cursor: pointer;
}

.swiper-contione:hover .swiper-left {
    left: 0;
}

.swiper-contione:hover .swiper-right {
    right: 0;
}

body {
    /*background-image: url("http://localhost:8080/bolg/imags/t4.png");*/
    /*background: #7450D6;*/
    margin: 0;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    /*background-color: rgb(116, 80, 214);*/
}

.tab-list {

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Verdana, Roboto, Noto, Helvetica Neue, sans-serif;
    padding: 0;
    margin: 20px;
    list-style: none;
    position: absolute;
    /*top: 10px;*/
    bottom: 0;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.tab-list li {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Verdana, Roboto, Noto, Helvetica Neue, sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: pre;
    font-size: 16px;
    height: 24px;
    position: relative;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
}

.tab-list li a {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    white-space: pre;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Verdana, Roboto, Noto, Helvetica Neue, sans-serif;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #222226;
    line-height: 22px;
}