body {
    background-image: url("http://localhost:8080/bolg/imags/t1.jpg");
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
    /*background-attachment: fixed;"*/
    /*background-color: rgb(116, 80, 214);*/
    /*background: no-repeat;*/
    /*background: #ffe7e7;*/
    /*opacity: 0.5%;*/
}

.container {
    border-radius: 25px;
    /*background: #e38f68;*/
    background: rgba(227,143,104,0.8);
    padding: 20px;
    width: 400px;
    height: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.neizhi {
    position: absolute;
    /*background: #eeeeee;*/
    width: 250px;
    height: 200px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#forgot {
    position: absolute;
    right: 0px;
}

#register {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.min1 {
    font-size: 12px;
}

h1[_ngcontent-wkl-c114] {
    margin: 8px 0 24px;
    text-align: center;
    color: #393b3d;
    font-weight: 300;
}

.m2 {
    /*font: 400 14px/20px -apple-system,Noto Sans,Helvetica Neue,Helvetica,Nimbus Sans L,Arial,Liberation Sans,PingFang SC,Hiragino Sans GB,Noto Sans CJK SC,Source Han Sans SC,Source Han Sans CN,Microsoft YaHei,Wenquanyi Micro Hei,WenQuanYi Zen Hei,ST Heiti,SimHei,WenQuanYi Zen Hei Sharp,sans-serif;*/
    text-align: center;
    font-weight: 300;
}

.form-control {
    border: #C0C0C0;
    border-radius: 5px;
    width: 250px;
    height: 30px;
}

#submit {
    position: absolute;
    background-color: #505050;
    color: #C0C0C0;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    left: 76px;
    top: 80%;
}

.visitor {
    display: inline-block;
    margin-top: 20px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0px;
    color: red;
    font-size: 12px;

}

a {
    cursor: pointer;
    text-decoration: none;
    color: #393b3d;
}

a:hover {
    color: #00c4ff;
}

.imgs {
    position: absolute;
    left: 195px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fafafa;
    color: rgba(0, 0, 0, .87);
}

#msgError {
    position: absolute;
    bottom: 60px;
    left: 0px;
}
