
.paging{
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;
    left: 150px;
    margin-bottom: 100px;
}
.paging div{
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 14px;
}
.paging div.disable{
    color: #fff;
    cursor: not-allowed;
    background-color: rgb(211, 211, 211);
}
.paging div.active{
    border: none;
    background-color: rgb(78, 216, 250);
    color: #fff;
}